/* src/App.css */

/* Custom background color for the entire app */
.custom-app-background {
  background-color: #333333; /* Dark grey background color */
  color: #fff; /* White text color for contrast */
}

/* App.css or your custom CSS file */
.button-style {
  background-color: #20B2AA;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* You can add more styles as needed */
