/* global.css */

/* Set the background color of the entire page to dark grey */
body {
  background-color: #5e5c5c; /* Dark Grey */
  color: white; /* White text on dark background */
}

/* global.css or component-specific CSS file */
.centered-container {
  padding: 40px;
  text-align: center; /* Center-align the content */
  font-size: 22px;
  font-weight: 600;
}
.formdiv {
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 50%;
  align-items: center;
  justify-content: center;
  transform: translateX(325px);
}
.content button {
  padding: 6px 8px;
  font-size: 14px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.formdiv .forminsidediv {
  display: block;
  margin-bottom: 5px;
}
.forminsidediv {
  text-align: center;
  margin: 2px;
}
.forminsidediv label {
  display: block;

  margin-bottom: 2px;
}
.forminsidediv input {
  margin: 0 auto;
  /* text-align: left;
  align-items: left;
  margin-right: 100px;
  transform: translateX(-200px, 0); */
}

.textdiv {
  transform: translateX(500px);
  margin-bottom: 1px;
  justify-content: center;
  text-align: left;
  display: block;
  flex-direction: column;
  font-size: 16px;
}
.textdiv div {
  margin: 10px;
}
/* Apply a sea green color to specific elements like headings and links */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #20b2aa; /* Sea Green */
  text-align: center;
}

a {
  color: #20b2aa; /* Sea Green for links */
  text-decoration: none; /* Remove underlines from links */
}

a:hover {
  color: #0e504d;
  text-decoration: underline; /* Add underline on hover for links */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  width: 100%; /* Make input fields full-width */
  padding: 10px; /*Add padding for better spacing */
  margin-bottom: 3px; /* Add margin between input fields */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
}

.radio-label {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* Add spacing to the left of the label */
  margin-right: 20px; /* Add margin between radio buttons */
  cursor: pointer;
}

button {
  font-size: large;
  font-family: "Roboto", sans-serif;
  align: center;
  background-color: #20b2aa; /* Sea Green */
  color: white; /* White text */
  padding: 15px 30px; /* Add padding for better appearance */
  border: none; /* Remove default button border */
  border-radius: 10px; /* Add rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Style a button when hovering over it */
button:hover {
  background-color: #008080; /* Darker Sea Green */
}
